<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Main Page COVID Contacts</title>
  </head>
  <body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <div class="d-grid gap-3">
        <div class="p-2 bg-light border"> 
    <img src="https://covid19.public.lu/en/_jcr_content/root/root-responsivegrid/content-responsivegrid/sections-responsivegrid/section/col1/image.coreimg.jpeg/1604057214155/sante-lu-banners-declaration-covid-19-3840x742px-update-en.jpeg" class="img-fluid" >
            </div>
    <div class="p-2 bg-light border">       
          </div>          
          <div class="input-group mb-3">
             <h2> Edit Match </h2>
          </div>
          <form action="/updateMatch" method="POST">
          <div class="input-group mb-3">
          <% match.forEach((item)=> {   %>
            <input hidden id="id" value="<%= match.id %>" >
            <input type="text" class="form-control" id="<%= item.name %>" name="contactId" value="<%= item.name %>" placeholder="Contact" aria-label="name" aria-describedby="basic-addon1" readonly>
          </div>
          <% }) %>
          <% if(match) { %>
          <div class="input-group mb-3">
            <input type="date" class="form-control"  id="<%= match.date %>" name="date" value="<%= match.date %>"placeholder="Date" aria-describedby="basic-addon3">
          </div>
                              
          <div class="input-group">
            <span class="input-group-text">Comments</span>
            <textarea class="form-control" id="<%= match.comments %>" name="comments" value="<%= match.comments %>" aria-label="With textarea"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <% } %>
      </div>
    <div class="p-2 bg-light border"></div>
    <div class="input-group mb-3">
     </div>
  </body>
</html>